$bg-color: #e5e5e5;
$bg-color-secondary: #fff;

$text-color: #3a3a3a;
$text-color-secondary: #818181;
$button-text-color: #fff;
$primary-color: #58b4ae;

$border-color: #cbcbcb;
$drop-hover-color: #f4f4f4;
